* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.header-container {
    background-color: #f44336;
    width: 300px; /* Asegúrate de mantener este valor fijo */
    height: 100vh;
    position: fixed; /* Permite que permanezca en el lado izquierdo */
    display: flex;
    gap: 30px;
    color: #fff;
    flex-direction: column;
}

.header-container h1 {
    font-size: 2rem;
}

.sub-header {
    margin: 120px 20px;
}

.sub-header .navbar ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.sub-header .navbar {
    margin-top: 80px;
}

.sub-header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}

.sub-header .navbar ul li a:hover {
    background: white;
    color: #000;
    display: block;
    padding: 10px;
    border-radius: 3px;
}

.main-container {
    margin-left: 350px; 
    padding: 20px;
   min-width: 600px;
}



.main-container .title h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.main-container h2 {
    font-size: 2rem;
    color: #f44336;
}

.main-container .img-container {
    margin-top: 30PX;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    flex-wrap: wrap;
}

.main-container .img-container img {
    flex: 0 1 200px;
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.main-container .img-container img:hover {
    opacity: 1;
}

 strong{
    opacity: .5;
  
}

.services h2{
    color: #f44336;
    font-size: 2rem;
    margin: 40px 0;

}

.designers h2{
    color: #f44336;
    font-size: 2rem;
    margin: 40px 0;
}

.team{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 40px 0;
}

.team figure img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 3px;
}

.team figure figcaption{
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}